.docMainContainer {
    display: flex;
    width: 100%;
}

@media (min-width: 997px) {
    .docMainContainer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 24px;
        max-width: 1600px;
        padding: 60px 20px;
    }

    .docMainContainerEnhanced {
        max-width: calc(100% - var(--doc-sidebar-hidden-width));
    }

    .docItemWrapperEnhanced {
        max-width: calc(
            var(--ifm-container-width) + var(--doc-sidebar-width)
        ) !important;
    }

    .docItemWrapper {
        grid-column: 2 / span 11;
    }
}
