.pagination-nav {
  margin-bottom: 40px;
}

.pagination-nav__link {
  padding: 20px;
  border: 1px solid var(--border-2);
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

.pagination-nav__sublabel {
  font-size: var(--font-size-medium-fluid);
  line-height: var(--line-height-medium-fluid);
  color: var(--text-5);
}

.pagination-nav__label {
  position: relative;
  font-size: var(--font-size-base-fluid);
  line-height: var(--line-height-base-fluid);
  width: max-content;
}

.pagination-nav__link--prev .pagination-nav__label {
  padding-left: 28px;

  &::before {
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    content: url('/static/img/arrow-right-green-small.svg');
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
  }
}

.pagination-nav__link--next .pagination-nav__label {
  &::after {
    display: block;
    position: absolute;
    top: 4px;
    right: -28px;
    content: url('/static/img/arrow-right-green-small.svg');
    width: 16px;
    height: 16px;
  }
}
