.custom-image-wrapper {
  p {
    font-size: 12px;
    line-height: 16px;
    color: var(--text-4);
    margin-bottom: 24px;

    @media screen and (min-width: 480px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  img {
    width: 100%;
    margin-bottom: 16px;
  }
}
