.wrapper {
  margin: 32px 0 24px;
}

.base {
  > span {
    background: #272a29 !important;
  }

  > span > code {
    width: 100%;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px 12px;
  gap: 12px;
  background-color: #373939;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-family: var(--ifm-font-family-base-bold);

  @media screen and (min-width: 480px) {
    flex-direction: row;
  }
}

.select {
  background-color: transparent;
  color: var(--text-5);
  border: none;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-family: var(--ifm-font-family-base-bold);
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  border-radius: 4px;
  text-transform: capitalize;
  padding: 6px 16px;

  &:hover {
    background-color: var(--ifm-background-color);
  }

  @media screen and (max-width: 480px) {
    width: max-content;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: var(--text-5);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-family: var(--ifm-font-family-base-bold);
  cursor: pointer;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: var(--ifm-background-color);
  }
}

.copyButtonSuccess {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: var(--text-5);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-family: var(--ifm-font-family-base-bold);
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  position: relative;
  fill: currentColor;
  transition: all var(--ifm-transition-fast) ease;
  pointer-events: none;
  width: 90px;
}

.copyButtonText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.4s ease;
}

.copyButtonSuccessIcon {
  position: absolute;
  right: 40px;
  top: 14px;
  width: 6px;
  color: #00d600;
  pointer-events: none;
  transform: scale(0);
  transition: all 0.4s ease;
}

.copyButtonSuccess .copyButtonSuccessIcon {
  transform: scale(4);
  transition-delay: 0.075s;
}

.copyButtonSuccess .copyButtonText {
  transform: scale(0);
}
