.wrapper {
  margin: 32px 0 24px;
}

.base {
  > span > code {
    width: 100%;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  background-color: #373939;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-family: var(--ifm-font-family-base-bold);
}

.select {
  background-color: transparent;
  color: var(--text-5);
  border: none;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-family: var(--ifm-font-family-base-bold);
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  border-radius: 4px;
  text-transform: capitalize;

  &:hover {
    background-color: var(--ifm-background-color);
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: var(--text-5);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-family: var(--ifm-font-family-base-bold);
  cursor: pointer;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: var(--ifm-background-color);
  }
}
