.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px 20px;
  margin: 0 auto;
  border-top: 1px solid var(--border-2);

  @media screen and (min-width: 997px) {
    padding: 80px 0;
  }
}

.footer > div:first-of-type {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 767px) {
    flex-direction: row;
  }

  @media screen and (min-width: 997px) {
    padding: 0 180px;
  }
}

.footer__title {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: var(--text-2);
  padding: 6px 12px;
  margin-bottom: 0;
  width: max-content;

  @media screen and (min-width: 480px) {
    font-size: var(--font-size-tiny);
    line-height: var(--line-height-tiny);
  }
}

.footer__links {
  margin-top: 48px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 16px;

  & > div {
    padding: 0;
  }

  & > div:first-of-type {
    grid-column: 1 / span 3;
  }

  & > div:last-of-type {
    grid-column: 4 / span 3;
  }

  @media screen and (min-width: 767px) {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    margin-top: 0;
    padding: 0 24px;

    & > div {
      padding: 0 16px;
    }

    & > div:first-of-type {
      grid-column: 5 / span 4;
    }

    & > div:last-of-type {
      grid-column: 9 / span 4;
    }
  }
}

.footer__link-item {
  font-size: var(--font-size-base-fluid);
  line-height: var(--line-height-base-fluid);
  color: var(--text-5);
  padding: 6px 12px;
  transition: all 0.2s ease-out;
  width: max-content;

  &:hover {
    text-decoration: none;
  }

  & > svg {
    display: none;
  }
}

.footer__copyright {
  margin-top: 60px;
  color: var(--text-2);

  @media screen and (min-width: 480px) {
    margin-top: 100px;
  }

  @media screen and (min-width: 997px) {
    padding-left: 180px;
  }
}
